@font-face {
    font-family: 'HeydingsControlsRegular';
    src: url('../fonts/heydings_controls-webfont.eot');
    src: url('../fonts/heydings_controls-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/heydings_controls-webfont.woff') format('woff'),
        url('../fonts/heydings_controls-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    outline: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Martel Sans', sans-serif;
    background-color: #666;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {}

.heading {
    text-align: center;
    margin-bottom: 35px;
    font-size: 2.4em;
}

.video-container {
    position: relative;

    &__screen {
        border-radius: 10px;
    }

    &__controls {
        visibility: hidden;
        opacity: 0.5;
        width: 700px;
        border-radius: 10px;
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #000;
        box-shadow: 3px 3px 5px #000;
        transition: .5s all ease;
        display: flex;
    }

    &:hover &__controls,
    &:focus &__controls {
        opacity: 1;
    }
}

button::before {
    font-family: HeydingsControlsRegular;
    font-size: 2em;
    position: relative;
    content: attr(data-icon);
    color: inherit;
    text-shadow: 1px 1px 0px #000;
    cursor: pointer;
}

.play,
.stop {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding-bottom: 7px;
    padding-left: 10px;
    color: #aaa;

    &:hover {
        color: #6feaf6;
    }
}

.timer {
    line-height: 38px;
    font-size: 1.2em;
    font-family: monospace;
    text-shadow: 1px 1px 0px #000;
    color: #fff;
    flex: 5;
    position: relative;

    div {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
        left: 5px;
        top: 2px;
        width: 0;
        height: 38px;
        z-index: 2;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    span {
        position: absolute;
        z-index: 3;
        left: 19px;
        margin-top: 2px;
        cursor: default;
    }
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 10px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 50%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #6feaf6;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 8px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #6feaf6;
}

input[type=range]::-moz-range-track {
    width: 50%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #6feaf6;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 8px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 50%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #6feaf6;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #6feaf6;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 8px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #6feaf6;
}

input[type=range]:focus::-ms-fill-upper {
    background: #6feaf6;
}